*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.container{
    width: 40%;
    margin: 0 auto;
    overflow: hidden; 
    /* border: 5px solid #fff; */
    position: relative;
}
.slide{
    display: flex;
    width: 100%;
    height: 500px;
}

#prev-btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
#next-btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}